.artist {
    padding: 0 40px;
}

.artist ul {
    list-style: none;
    padding: 0;
}

.artist span {
    font-weight: bold;
}

.artist h6 {
    font-size: 20px;
    margin: 0;
    font-weight: 400;
}

.artist .artist-img {
    width: 25%;
    float: right;
    margin: 0 20px;
    border-radius: 25px;
}