.card {
    position: relative;
    padding: 0 40px;
    border: 2px solid #313639;
    margin: 0 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #313639;
    min-height: 450px
}

.card button {
    position: absolute;
    padding: 5px 20px;
    margin: 20px;
    bottom: 0px;
    right: 0px;
    border: none;
    border-radius: 5px;
    min-width: 100px;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}

.card button:hover {
    box-shadow: 2px 2px rgba(0,0,0,0.7);
    transition: box-shadow 0.5s;
    font-weight: bold;
}