.song-liked {
    background-color: #00A86B;
    color: white;
}

button {
    padding: 5px 20px;
    margin-left: 10px;
    float: right;
    border: none;
    border-radius: 5px;
    min-width: 100px;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}

button:hover {
    box-shadow: 2px 2px rgba(0,0,0,0.7);
    transition: box-shadow 0.5s;
    font-weight: bold;
}